* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333333;
  --white-1: #ffffff;
  --white-2: #fafafa;
  --gray: #c4c4c4;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (width < 1000px) {
  #root {
    padding: 0.5rem;
  }
}
